{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="d-flex align-items-center py-2 ml-5">
    <h1 class="text-center">Noticias de interés</h1>
    {% if user.is_authenticated %}
        <button class="btn btn-success">
            <a href="{% url 'cotizacion:cotizar' %}" class="text-white">Cotizar</a>
        </button>
    {% endif %}
</div>

<div class="container">
    <div class="row">
        {% for noticia in noticias %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img 
                    src="{{ noticia.imagen_url }}" 
                    alt="{{ noticia.titulo }}" 
                    class="card-img-top" 
                />
                <div class="card-body">
                    <a href="{% url 'noticia' slug=noticia.slug %}">
                        <h2 class="card-title">{{ noticia.titulo }}</h2>
                    </a>
                    <p class="card-text">{{ noticia.cuerpo }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
